<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>blog application</h1>
    <article>
        <h2>article1</h2>
        <p>Created time: 2021/9/17</p>
        <p>this is article1</p>
    </article>
   <article>
        <h2>article2</h2>
        <p>Created time: 2021/9/19</p>
        <p>this is article2</p>
    </article>
</body>
</html>